@charset "utf-8";
/* lof-slidecontent */
.lof-slidecontent{
	position:relative;
	top:-32px;
	float:left;
	margin:0 auto 0 auto;
	-webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);
	-o-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);
	box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);
}
.lof-slidecontent .preload{height:100%;width:100%;position:absolute;top:0;left:0;z-index:100000;text-align:center;background:#ffffff;}
.lof-slidecontent .preload div{height:100%;width:100%;background:transparent url(../images/ajax-loader.gif) no-repeat scroll 50% 50%;}
.lof-slidecontent .sliders-wrapper{position:relative;height:320px;overflow:hidden;width:100%;z-index:3px;overflow:hidden;}
.lof-slidecontent ul.sliders-wrap-inner{overflow:hidden;background:transparent url(../images/ajax-loader.gif) no-repeat scroll 50% 50%;padding:0px;margin:0;position:absolute;overflow:hidden;}
.lof-slidecontent ul.sliders-wrap-inner li{overflow:hidden;padding:0px;margin:0px;float:left;position:relative;}
.lof-slidecontent .lof-opacity li{position:absolute;top:0;left:0;float:inherit;}
.lof-slidecontent .item-meta a:hover{text-decoration:underline;}
.lof-slidecontent .item-meta i{font-size:70%;}
.lof-slidecontent .slider-description{
	display:none;z-index:100px;position:absolute;bottom:1px;left:0px;width:120px;min-height:15px;padding:15px;font-size:11px;line-height:1.5em;
	
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.lof-slidecontent .slider-description p{color:#dcd2be;}
.lof-slidecontent .slider-description h4{font-family:"Voltaire", Arial, Verdana, sans-serif;margin:10px 0;padding:0;text-transform:uppercase;margin-bottom:15px;}
.lof-slidecontent .slider-description a.link{display:inline-block;margin-top:18px;padding:3px;background:#cb5432;color:#000;white-space:nowrap;}
.lof-slidecontent .hover .slider-description{display:block;}
.lof-slidecontent .navigator-content{position:relative;width:646.5px;}
.lof-slidecontent .navigator-content .button-next,.lof-slidecontent .navigator-content .button-previous,.lof-slidecontent .navigator-content .button-control{position:absolute;right:0;top:-30px;width:30px;height:30px;line-height:999em;overflow:hidden;color:#FFF;cursor:pointer;display:block;z-index:999;}
.lof-slidecontent .navigator-content .button-next{background:url(../images/arrow-right-dark.png) no-repeat;}
.lof-slidecontent .navigator-content .button-previous{background:url(../images/arrow-left-dark.png) no-repeat;right:30px;}
.lof-slidecontent .navigator-content .button-control{background:url(../images/button-control.png) center center no-repeat;right:60px;}
.lof-slidecontent .navigator-content .hover-stop,.lof-slidecontent .navigator-content .action-start{background:url(../images/button-control-play.png) center center no-repeat rgba(0, 0, 0, 0.8);}
.lof-slidecontent .navigator-wrapper{position:relative;height:180px;width:1310px;overflow:hidden;color:#fff;float:left;}
.lof-slidecontent .navigator-wrap-inner{top:0;padding:0;margin:0;position:absolute;width:100%;}
.lof-slidecontent .navigator-wrap-inner li{cursor:hand;cursor:pointer;list-style:none;padding:0;margin-left:0px;overflow:hidden;float:left;display:block;text-align:center;background:#cb5432;}
.lof-slidecontent .navigator-wrap-inner li img{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.lof-slidecontent .navigator-wrap-inner li img:hover{opacity:0.2;}
.lof-slidecontent .hover .button-previous{display:block;}
.lof-slidecontent .hover .button-next{display:block;}
.lof-slidecontent .hover .button-control{display:block;}

.lof-slidecontent .slider-description{color:#e6e6e6;}
.lof-slidecontent .slider-description a{color:#FFF;}
.lof-slidecontent .slider-description a.readmore{color:#fcb019;}
.lof-slidecontent .active{border-top:3px #cb5432 solid;}